@import "tailwindcss";

:root {
  --primary: #0a2640;
  --secondary: #65e4a3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-manrope: var(--font-manrope);
  --font-open-sans: var(--font-open-sans);
}

body {
  font-family: "Open sans", sans-serif;
}

@layer utilities {
  .underline-hover {
    @apply relative overflow-hidden;
  }

  .underline-hover::after {
    content: "";
    @apply absolute bottom-0 left-0 h-0.5 bg-current w-0 transition-all duration-300;
  }

  .underline-hover:hover::after {
    @apply w-full;
  }
}
